.top-buffer { margin-top:4em; }
.top-buffer-2 { margin-top:2em; }

.section{
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
}

.pointer{
    cursor:pointer;
}

.module-enabled{
    margin-top:0.5em;
    background-color: #24d951;
    padding: 1em;
    border-radius: 4px 4px 0 0;
}

.module-disabled{
    margin-top:0.5em;
    background-color: #b5bdc4; 
    padding: 1em;
    border-radius: 4px 4px 0 0;
}